# Directorios de trabajo movidos / temporales
miselanios/
desarrollo-qr/*
!desarrollo-qr/docker-compose.yml

# Dependencias
node_modules/

# Entornos
.env
.env.*
!.env.example

# Builds
dist/
build/
.next/
out/

# Base de datos
docs/backup-db/

# Sistema operativo / editor
.DS_Store
Thumbs.db
*.log

# Sensible
*.pem
*.p12